{% extends "base.html" %}

{% block content %}
    <section class="container" id = "contact">
      <div class="conformation_container">
        <h1 class="confirmation">Hooray! Your message just did a backflip into my inbox! 🤸‍♂️
          Thank you for reaching out! I'll reply back to you soon. In the meantime, enjoy exploring Hammed's world. </h1>
      </div>
      <div class="confirmation_anomation">
        <lottie-player src="https://assets10.lottiefiles.com/packages/lf20_942jbwje.json"  background="transparent"  speed="1"  style="width: 500px; height: 400px;"  loop autoplay></lottie-player>
      </div>
    </section>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}