{% extends "base.html" %}

{% block content %}
             <!-- About me Section -->
             <section class="container about" id="about">
                <!-- Image me Section -->
                <div class="about_img">
                    <img src="{{ url_for('static', filename='images/hammed.jpeg') }}" alt="Portrait of Hammed smiling">
                </div>
                <!-- Information Section -->
                <div class="about_info">
                    <h2 class="heading">About <span style="color:#FFDD00">Me</span></h2>
                    <p>Full-Stack Software Engineer passionate about delivering scalable, high-quality applications that solve real business problems. I collaborate closely with senior developers to translate business requirements into maintainable, impactful software solutions.
                    </p>
                    <!-- Tab Navigation -->
                    <div class="tab_navigation">
                        <p class="tab_links active_link" onclick="opentab('skills', event)">Skills</p>
                        <p class="tab_links" onclick="opentab('technologies', event)">Technologies</p>
                        <p class="tab_links" onclick="opentab('experience', event)">Experience</p>
                        <p class="tab_links" onclick="opentab('education', event)">Education</p>
                    </div>
                    <!-- Skills Navigation -->
                    <div class="tab_content active_tab" id="skills">
                        <ul>
                            <li><span>Software engineering</span><br>-> Full-Stack Development: Python (Django, Flask), Java (Spring Boot), React, JavaScript/TypeScript, HTML/CSS<br>
                                -> Microservices & DevOps: Docker, Kubernetes, Git, CI/CD pipelines, cloud-ready architectures<br>
                                -> Database Design & Management: PostgreSQL, MySQL, MongoDB, query optimization, scalable modeling<br>
                                -> AI-Ehanced Solutions: Intelligent integrations and scalable application features</li>
                        </ul>
                    </div>
                    <!-- Technologies Navigation -->
                    <div class="tab_content" id="technologies">
                        <ul>
                            <li><span>Web Development & Databases</span><br>
                                <object data="{{ url_for('static', filename='images/svg/html-1.svg') }}" width="40" height="40"> </object>
                                <object data="{{ url_for('static', filename='images/svg/css-3.svg') }}" width="40" height="40"> </object>
                                <object data="{{ url_for('static', filename='images/svg/javascript-1.svg') }}" width="40" height="40"> </object><br><br>
                                <object data="{{ url_for('static', filename='images/svg/node.png') }}" width="40" height="40"> </object>
                                <object data="{{ url_for('static', filename='images/svg/tpscript.jpg') }}" width="40" height="40"> </object><br><br>
                                <object data="{{ url_for('static', filename='images/svg/java.svg') }}" width="40" height="40"> </object>
                                <object data="{{ url_for('static', filename='images/svg/flask-logo (1).svg') }}" width="70" height="40"> </object>
                                <object data="{{ url_for('static', filename='images/svg/fastapi-1.svg') }}" width="40" height="40"> </object><br><br>
                                <object data="{{ url_for('static', filename='images/svg/mysql.svg') }}" width="40" height="40"> </object>
                                <object data="{{ url_for('static', filename='images/svg/postgresql.svg') }}" width="40" height="40"> </object>
                            </li>
                        </ul>
                    </div>
                    <!-- Experience Navigation -->
                    <div class="tab_content" id="experience">
                        <ul>
                            <li><span>April 2025 - August 2025</span><br>Software Engineer - <span style="color:#0d0d0d; font-size:15px;">@Sofvie Inc., sudbury Canada</span></li>
                            <li><span>May 2024 - July 2024</span><br>Software Engineer - <span style="color:#0d0d0d; font-size:15px;">@Profoundus</span></li>
                            <li><span>June 2022 - Aug 2023</span><br>Software Engineer - <span style="color:#0d0d0d; font-size:15px;">@Intercom Programming & Manufacturing</span></li>
                            <li><span>Jan 2020- May 2022</span><br>Junior Software Engineer - <span style="color:#0d0d0d; font-size:15px;">@Kellogg Tolaram Nigeria Limited </span></li>
                            
                        </ul>
                    </div>
                    <!-- Education Navigation -->
                    <div class="tab_content" id="education">
                        <ul>
                            <li><span>Jul 2025</span><br>Graduate Certificate, Data Science - <span style="color:#0d0d0d; font-size:15px;">@Cambrian College</span></li>
                            <li><span>Jul 2024</span><br>Graduate Certificate, Mobile Application Development - <span style="color:#0d0d0d; font-size:15px;">@Cambrian College</span></li>
                            <li><span>Nov 2018</span><br>Bachelor Of Science in Physics  - <span style="color:#0d0d0d; font-size:15px;">@The Polytechnic Ibadan, Nigeria</span></li>
                        </ul>
                    </div>
                </div>
            </section>
{% endblock %}