{% extends "base.html" %}

{% block content %}
        <!-- Contact Section -->
        <section class="container contact" id = "contact">
          <div class="contact_text">
            <h2 class="heading">Contact <span style="color:#FFDD00">Hammed</span></h2>
            <h4>Let's work together</h4>
            <p>I’m eager to apply my skills and contribute to real-world projects</p>
            <div class="contact_list">
              <li><a href=""></a><span style="color:#0057B7">Based in:</span> Canada</li>
              <li><span style="color:#FFDD00">Email:</span> <a href="mailto:softwaredeveloper0210@gmail.com">softwaredeveloper0210@gmail.com</a></li>
            </div>
            <div class="contact_social_icons">
              <a href="https://www.linkedin.com/in/hammed-tunde-lawal-b32442258/" target="_blank" ><i class=" fab fa-linkedin " aria-hidden="true"></i></a>
              <a href="mailto:softwaredeveloper0210@gmail.com" target="_blank" ><i class=" fa-regular fa-envelope" aria-hidden="true"></i></a>
              <a href="https://github.com/Lawaltunde" target="_blank" ><i class=" fab fa-github " aria-hidden="true"></i></a>
            </div>
          </div>
          <div class="contact_form">
            <div class="form-container">
                <form action="/submited_form" method="post" class="contact-form">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <div class="form-group">
                        <label for="name">Your Name</label>
                        <input type="text" id="name" name="user_name" required placeholder="Enter your full name">
                    </div>
                    <div class="form-group">
                        <label for="email">Your Email</label>
                        <input type="email" id="email" name="email" required placeholder="Enter a valid email address">
                    </div>
                    <div class="form-group">
                        <label for="subject">Subject</label>
                        <input type="text" id="subject" name="subject" required placeholder="What is the subject of your message?">
                    </div>
                    <div class="form-group">
                        <label for="message">Message</label>
                        <textarea id="message" name="text" rows="5" required placeholder="Please enter your message here"></textarea>
                    </div>
                    <button type="submit" class="btn-submit">Send Message</button>
                </form>
            </div>
            
            <div class="contact-info">
                <h3>Contact Information</h3>
                <p><i class="fas fa-envelope"></i> softwaredeveloper0210@gmail.com</p>
            </div>
          </div>
        </section>
{% endblock %}