{% extends "base.html" %}

{% block content %}
    <section class="container" id = "contact">
      <div class="conformation_container_error">
        <div>
          <lottie-player src="https://assets5.lottiefiles.com/private_files/lf30_wvfo5uzg.json"  background="transparent"  speed="1"  style="width: 900px; height: 600px;"  loop autoplay></lottie-player>
        </div>
      </div>
    </section>
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
{% endblock %}