{% extends "base.html" %}

{% block content %}
             <!-- Project Section -->
             <!-- Project Section -->
             <section class="container portfolio" id="portfolio_id">
              <h2 class="heading">My <span style="color:#FFDD00">Projects</span></h2>
          <!-- Project #1 -->
              <div class="portfolio_container">
                  <div class="portfolio_box">
                      <img src="{{ url_for('static', filename='images/polly.jpeg') }}" alt="project screenshot"  height = 230>
                      <div class="portfolio_layer">
                          <h4>Polling Application</h4>
                          <p>Polly is a full‑stack polling app where users create polls, vote, and view results. It uses RLS‑secured Supabase with role‑based access (admin vs user), a modern Next.js App Router UI, and a fully tested workflow. Visit my GitHub for more details.</p>
                          <a href="https://github.com/Lawaltunde/alx-polly"><i class='fab fa-github '></i></a>
                      </div>
                  </div>
          <!-- Project #2 -->
                  <div class="portfolio_box">
                      <img src="{{ url_for('static', filename='images/portfolio.jpeg') }}" alt="Exploratory data analysis journal screenshot" height = 230>
                      <div class="portfolio_layer">
                          <h4>Learn more about me!</h4>
                          <p>Nothing fancy, just my portfolio website.</p>
                          <a href="https://github.com/Lawaltunde/Portfolio-website?tab=readme-ov-file#-license"><i class='fab fa-github '></i></a>
                      </div>
                  </div>
          <!-- Project #3 -->
                  <div class="portfolio_box">
                      <img src="{{ url_for('static', filename='images/aiagent.jpeg') }}" alt="Twilio FastAPI integration demo screenshot" height = 230>
                      <div class="portfolio_layer">
                          <h4>Code-review bot</h4>
                          <p>A simple AI agent integrated with the Google Gemini model to help review code changes when files are committed. It’s built with TypeScript and runs on the Bun runtime..</p>
                          <a href="https://github.com/Lawaltunde/ai-agent/blob/main/README.md"><i class='fab fa-github '></i></a>
                      </div>
                  </div>
              </div>
           </section>
{% endblock %}